html {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  background-color: #333;
  font-family: 'Lato', sans-serif;

}


img {
    
    max-width: 100%;
    position: relative;
  
}

h2 {

	font-size: 3em;
	width: 20%;
	margin: 0;
	transition-property: color;
	transition-timing-function: ease-in-out;
    transition-duration: 2s;
}

h2 a {

	text-decoration: none;
	color: white;
}

a {
	
	transition: .3s ease-in-out;
}

.nav {
	
	text-align: left;
	padding: 0;
	float: right;
	width: 100%;

}

.nav li {


	transition:  .3s;
	padding-bottom: 10%;

}
.nav a {

	text-decoration: none;
	font-size: 1.5em;
	color: white;

}

a:hover {
    
    color: #1C7293;
    transition: .3s ease-in-out;
}

h3 {

	font-size: 7em;
	margin: 0;
	color: white;
	background-color: #333;
}

h4 {

	font-size: 3em;
	color: white;
	text-align: left;
	margin-left: 12%;
}

img {

	width: 100%;
}

.main_container {

	display: grid;
	grid-template-columns: 1fr 8fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	text-align: center;
	position: sticky;
	top: 0px;
	background-color: #333;
	/*overflow: hidden;*/
}

p a{

	color: white;
}

.content {

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
	margin: 2em;
	margin-top: 4em;

}


/* ---- Styles for the about page ---- */

#about_me {

	margin-top: 2%;
}

.about_content {

	display: grid;
	grid-template-columns: 1fr;
	margin: 2em;
}

.about_content img {

	max-width: 20em;
	margin: 0 auto;
	border-radius: 50%;
	margin-bottom: 5%
}

.about_text {

	margin-left: 10%;
	margin-right: 10%;
	justify-content: center;
}

/* ---- Work Pages styling ---- */

.item_0 {
 
    position: relative;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden
}

.item_1 {

position: -webkit-sticky;
position: sticky;
top: 0px;

}

p {

	font-family: omnes-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	font-size: 1.2em;
	color: white;
	position: sticky;
	top: 2px;
	background-color: #333;
}


/* Social Media Stuff */
#social_icons {

	max-width: 100%;
  	margin: 0 auto;
  	text-align: center;
  }


 a {

 	text-align: center;
 }

 .active {

 	border-bottom: 2px solid #fff;
 }

.fa {

    padding: .3em;
    text-align: center;
    text-decoration: none;
}

/* Adds a hover effect */
.fa:hover {

	color: #1C7293;
	transition-duration: 0.5s, 0.5s;
   
}

.fa-twitter, .fa-github-square, .fa-linkedin {
    color: white;
}

@media only screen and (max-width: 620px) {


	.nav a {

		color: white;
		font-size: 1.5em;
	}

	.nav li {

	transition: all .3s ease-in-out;
	display:block;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 5%;

	}

	h3 {
		
	font-size: 2em;
	text-align: center;
	margin: 0 auto;
	
	}


	h2 {

	font-size: 3em;
	text-align: center;
	margin: 0 auto;
	}

	.main_container, .content {

	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	text-align: center;

	}

/* Test for Modal */

