
html {
  font-family: omnes-pro, sans-serif;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  background: linear-gradient(132deg, #FF9966, #990033);
  background-size: 300% 300%;
  animation: gradient_bg 15s ease infinite;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


@keyframes gradient_bg {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
  
}

@media print {

	body> *:not(main) {
		display: none;
	}
}

a {
	
	transition: .3s ease-in-out;
}

a:hover {
	color: #1C7293;
	transition: .3s ease-in-out;
}

h1 {

	font-size: 5em;
	text-align: left;
	padding-left: .2em;
	color: white;
	font-weight: 600;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

img {
    
    max-width: 100%;
}


.nav a:hover {

	color: #1C7293;
}

.nav {
	
	text-align:center;
	padding: 0;
	float: right;
	width: 100%;
	display: inline;
	color: white;
	cursor: pointer;

}

.nav li {


	transition:  .3s;
	display:inline-block;

}
.nav a {

	color: white;
	text-decoration:none; 
	padding:0 30px; /* variable width */

}



/* Grid Stuff */


.main_container {

	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	text-align: center;

}

.name {

	height: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
}


/* Nested Grid */

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  grid-gap: 1em;
}

.grid-item img{

	color: white;
	position: relative;
	-webkit-filter: blur(0);
	filter: blur(0);
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	vertical-align: middle;
}

.grid-div {

	position: relative;
	display: block;
	vertical-align: middle;
	height: 100%;
}

 .grid-div .grid-text {

	color: white;
	position: absolute;
	text-align: center;
	z-index: 100;
	margin: auto;
	top: 0;
	left:0;
	bottom: 0;
	width: 100%;
	vertical-align: middle;
	opacity: 0;
	height: 100%;
	font-size: 3em;
	padding-top: 1.2em;
	transition: .3s ease-in-out;
	background-color: rgba(28,114,147, 0.6);

}

h5 {

	margin-left: 3%;
	margin-right: 3%;
}

.grid-div .grid-text:nth-child(odd) {

	background-color: rgba(28,114,147, 0.6);
	transition: .3s ease-in-out;

}

.grid-div .grid-text:hover {

	opacity: 1;
	transition: .3s ease-in-out;

}

.grid-item img:hover {

	-webkit-filter: blur(2px);
	filter: blur(2px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.portfolio > div {
  /*background-color: #eee;*/
  /*padding: 1em;*/
  text-align: center;
}

.grid-div > div:nth-child(odd){

	background-color: rgba(139,177,116, 0.6);

}

/* Applied only to tablets and other small devices */

@media only screen and (max-width: 840px){

	.portfolio {

		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
	

}

/* Applied only to phones and other small devices */

@media only screen and (max-width: 620px) {

	.nav a {

		color: white;
		font-size: 1.5em;
	}

	.nav li {

	transition: all .3s ease-in-out;
	display:block;

	}

	h1 {
		
	font-size: 2em;
	}

	.main_container {

	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	text-align: center;

	}

	.main_container {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    }

  	.name {

  		height: auto;

  	}

  	h1 {

  		text-align: center;
  	}
    
}


/* Social Icons */


#social_icons {

	width: 100%;
  	margin: 0 auto;
  	text-align: center;
  }


 a {

 	text-align: center;
 }

.fa {

    padding: 20px;
    text-align: center;
    text-decoration: none;
}

/* Adds a hover effect */
.fa:hover {

	color: #1C7293;
	transition-duration: 0.5s, 0.5s;
   
}

/* Twitter */
.fa-twitter, .fa-github-square, .fa-linkedin {
    color: white;
}


